.carousel-img{
	width: 100%;
    height: 100%;
    background-size:100% 100%;
}
.layui-carousel-ind ul li{
	width: 46px;
    height: 12px;
    border-radius: 10px 10px;
}
.layui-carousel-ind ul{
	background: none;
}
.layui-carousel-ind ul:hover{
	background: none;
}
.layui-carousel-arrow{
	width: 80px;
	height: 80px;
	line-height: 80px;
	font-size: 60px;
	background: none;
}
.layui-carousel-arrow:hover{
	background: none;
}

.container{
	width: 100%;
}

.row_title{
	text-align: center;
}

.row_title .title-img-bg{
	background-size:100% 100% !important;
	max-width: 320px;
	max-height: 100px;
	margin: auto;
	min-height: 80px;
}

.row_title .big-title{
	font-size: 40px;
	font-weight: bold;
	color: #333;
}

.bd1{
	border: 1px solid #DFDFDF;
}
.bdtn{
	border-top: none;
}
.bdbn{
	border-bottom: none;
}

.ot10{
	outline: 10px solid #F4F4F4;
}
.ot15{
	outline: 15px solid #F4F4F4;
}
.ot20{
	outline: 20px solid #F4F4F4;
}
.ot30{
	outline: 30px solid #F4F4F4;
}
.ot40{
	outline: 40px solid #F4F4F4;
}
.ot50{
	outline: 50px solid #F4F4F4;
}

.bgwhite .ot15{
	outline: 15px solid #FFF;
}
.bgwhite .ot20{
	outline: 20px solid #FFF;
}
.bgwhite .ot30{
	outline: 30px solid #FFF;
}
.bgwhite .ot40{
	outline: 40px solid #FFF;
}
.bgwhite .ot50{
	outline: 50px solid #FFF;
}

.bs100{
	background-size:100% 100% !important; 
}
.banner{
	background-size:100% 100% !important; 
}
.banner img{
	background-size:100% 100% !important; 
}
.banner .big-title{
	font-size: 60px;
	font-weight: bold;
	font-family: 隶书;
	color: #FEFEFE;
}
.banner .big-title sup{
	font-size: 24px;
	font-weight: bold;
}
.banner .small-title{
	font-size: 38px;
	font-weight: bold;
	font-family: "微软雅黑";
	color: #FDFDFD;
}
.banner .normal-title{
	font-size: 46px;
	font-weight: bold;
	font-family: "微软雅黑";
	color: #FEFEFE;
}

.apply-btn{
	width: 160px;
	height: 44px;
	border-radius:22px;
	line-height: 44px;
	font-size: 20px;
	font-weight: bold;
}

/* base css style  */
.fl{
	float: left;
}
.fr{
	float: right;
}
.pd10{
	padding: 10px !important;
}
.pd20{
	padding: 20px !important;
}
.pt10{
	padding-top: 10px !important;
}
.pl10{
	padding-left: 10px !important;
}
.pr10{
	padding-right: 10px !important;
}
.pb10{
	padding-bottom: 10px !important;
}
.pt20{
	padding-top: 20px !important;
}
.pl20{
	padding-left: 20px !important;
}
.pr20{
	padding-right: 20px !important;
}
.pb20{
	padding-bottom: 20px !important;
}
.pb40{
	padding-bottom: 40px !important;
}
.pb50{
	padding-bottom: 50px !important;
}
.pt30{
	padding-top: 30px !important;
}
.pt40{
	padding-top: 40px !important;
}
.pt50{
	padding-top: 50px !important;
}
.pt100{
	padding-top: 100px !important;
}
.pt110{
	padding-top: 110px !important;
}
.pb100{
	padding-bottom: 100px !important;
}
.pb80{
	padding-bottom: 80px !important;
}
.pt80{
	padding-top: 80px !important;
}

.mg10{
	margin: 10px !important;
}
.mg20{
	margin: 20px !important;
}
.mt5{
	margin-top: 5px !important;
}
.pt5{
	padding-top: 5px !important;
}
.mt10{
	margin-top: 10px !important;
}
.ml10{
	margin-left: 10px !important;
}
.mlf20{
	margin-left: -20px !important;
}
.mlfw20{
	margin-left: -20% !important;
}
.mlfw25{
	margin-left: -25% !important;
}
.mlw25{
	margin-left: 25% !important;
}
.mlf15{
	margin-left: -15px !important;
}
.mlf10{
	margin-left: -10px !important;
}
.ml20{
	margin-left: 20px !important;
}
.ml40{
	margin-left: 40px !important;
}
.ml60{
	margin-left: 60px !important;
}
.ml80{
	margin-left: 80px !important;
}
.ml100{
	margin-left: 100px !important;
}
.mr10{
	margin-right: 10px !important;
}
.mb10{
	margin-bottom: 10px !important;
}
.mt0{
	margin-top: 0px !important;
}
.mt20{
	margin-top: 20px !important;
}
.mt15{
	margin-top: 15px !important;
}
.ml20{
	margin-left: 20px !important;
}
.ml40{
	margin-left: 40px !important;
}
.mr20{
	margin-right: 20px !important;
}
.mr40{
	margin-right: 40px !important;
}
.mb20{
	margin-bottom: 20px !important;
}
.mt30{
	margin-top: 30px !important;
}
.mt40{
	margin-top: 40px !important;
}
.mt50{
	margin-top: 50px !important;
}
.mb50{
	margin-bottom: 50px !important;
}
.mb40{
	margin-bottom: 40px !important;
}
.mt60{
	margin-top: 60px !important;
}
.mt80{
	margin-top: 80px !important;
}
.mt100{
	margin-top: 100px !important;
}
.mt110{
	margin-top: 110px !important;
}
.mt180{
	margin-top: 180px !important;
}
.mt200{
	margin-top: 200px !important;
}
.mt130{
	margin-top: 130px !important;
}
.mt120{
	margin-top: 120px !important;
}
.mt140{
	margin-top: 140px !important;
}
.mt150{
	margin-top: 150px !important;
}
.white{
	color: white !important;
}
.cl6{
	color: #666 !important;
}
.red{
	color: red !important;
}
.blue{
	color: blue !important;
}
.orange{
	color: orange !important;
}
.gray{
	color: gray !important;
}
.bgblue{
	background: blue !important;
}
.bgorange{
	background: orange !important;
}
.bgred{
	background: red !important;
}
.bggray{
	background: #f4f4f4 !important;
}
.bggray2{
	background: #F0F2F5 !important;
}
.bggray3{
	background: #EEEEEE !important;
}
.bg6{
	background: #666666 !important;
}
.bg0{
	background: #000 !important;
}
.bgwhite{
	background: #FFF !important;
}
.h100{
	height: 100% !important;
}
.w100{
	width: 100% !important;
}
.w110{
	width: 110% !important;
}
.w120{
	width: 120% !important;
}
.w105{
	width: 105% !important;
}
.w99{
	width: 99% !important;
}
.w98{
	width: 98% !important;
}
.w97{
	width: 97% !important;
}
.w96{
	width: 96% !important;
}
.w95{
	width: 95% !important;
}
.h50{
	height: 50% !important;
}
.w40{
	width: 40% !important;
}
.w50{
	width: 50% !important;
}
.w60{
	width: 60% !important;
}
.w65{
	width: 65% !important;
}
.w80{
	width: 80% !important;
}
.w90{
	width: 80% !important;
}
.w25{
	width: 25% !important;
}
.w33{
	width: 33%;
}

.lh30{
	line-height: 30px !important;
}
.lh40{
	line-height: 40px !important;
}
.lh50{
	line-height: 50px !important;
}
.lh60{
	line-height: 60px !important;
}
.lh70{
	line-height: 70px !important;
}
.lh80{
	line-height: 80px !important;
}
.tc{
	text-align: center !important;
}
.tl{
	text-align: left !important;
}
.tr{
	text-align: right !important;
}
.ht80{
	height: 80px !important;
}
.ht60{
	height: 60px !important;
}
.ht50{
	height: 50px !important;
}
.wt50{
	width: 50px !important;
}
.wt100{
	width: 100px !important;
}
.wt120{
	width: 120px !important;
}
.wt140{
	width: 140px !important;
}
.wt150{
	width: 150px !important;
}
.wt160{
	width: 160px !important;
}
.wt180{
	width: 180px !important;
}
.wt200{
	width: 200px !important;
}
.ht100{
	height: 100px !important;
}
.ht110{
	height: 110px !important;
}
.ht120{
	height: 120px !important;
}
.ht130{
	height: 130px !important;
}
.ht140{
	height: 140px !important;
}
.ht150{
	height: 150px !important;
}
.ht200{
	height: 200px !important;
}
.ht300{
	height: 300px !important;
}
.ht280{
	height: 280px !important;
}
.ht340{
	height: 340px !important;
}
.ht350{
	height: 350px !important;
}
.ht400{
	height: 400px !important;
}
.ht500{
	height: 500px !important;
}
.ht550{
	height: 550px !important;
}
.ht600{
	height: 600px !important;
}
.ht700{
	height: 700px !important;
}
.ht800{
	height: 800px !important;
}

.bdrt5{
	border-radius:5px 5px 0px 0px;
}
.bdrb5{
	border-radius:0px 0px 5px 5px;
}
.bdr5{
	border-radius:5px;
}

.about-words p{
	line-height: 32px;
	font-size: 16px;
	font-family: "微软雅黑";
	color:#656565;
}

.row-ul{
	list-style-type: none;
	margin: auto;
	text-align: center;
}
.row-ul.row-ul-new li p{
	color: #333;
	font-size: 30px;
}
.row-ul li{
	float: left;
	margin-right: 30px;
	margin-top: 10px;
}
.row-ul li p{
	font-size: 22px;
	font-weight: bold;
	color: #FEFEFE;
}
.row-ul li span{
	font-size: 18px;
	color: #FEFEFE;
}
.flex{
	display: flex;
}
.ftsz40{
	font-size: 40px !important;
}
.ftsz28{
	font-size: 28px !important;
}
.ft40{
	font-size: 40px !important;
}
.ft28{
	font-size: 28px !important;
}
.ft26{
	font-size: 28px !important;
}
.ft24{
	font-size: 24px !important;
}
.ft22{
	font-size: 22px !important;
}
.ft20{
	font-size: 20px !important;
}
.ft18{
	font-size: 18px !important;
}
.ft16{
	font-size: 16px !important;
}
.ft14{
	font-size: 14px !important;
}
.mt5{
	margin-top: 5px !important;
}

.pencil-click{
	width: 121px;
	border-bottom: 2px solid var(--font_color);
	display: inline-block;
}
.pencil-click a{
	width: 100%;
	height: 40px;
	display: inline-block;
	color: #666;
}
.pencil-click a:hover{
	color: var(--font_color);
}
.mgauto{
	margin: auto;
}

.abs{
	position: absolute;
}
.abs-item{
	position: absolute;
	z-index: 1000;
	width: 75%;
	margin-left: 25%;
	box-shadow: 0px 0px 10px 10px #DFDFDF;
	border-radius:10px;
}
.abs-item-2{
	position: absolute;
	z-index: 999;
	width: 70%;
	margin-left: -1%;
	border-radius:10px;
}
.abs-item-3{
	position: absolute;
	z-index: 999;
	width: 55%;
	margin-left: 45%;
	border: 1px solid #DDD;
}
.fwbd{
	font-weight: bold;
}
.fwnm{
	font-weight: normal;
}
.abs-item-cols.abs-item-3{
	box-shadow: 0px 5px 5px 0px #DFDFDF;
	border-radius:10px 0px 0px 10px;
	border:none;
}
.abs-item-cols.abs-item-3 .cols-item-2{
	border-radius:10px 0px 0px 10px;
	border-right:none;
}
.abs-item-cols.abs-item-3 .cols-item-2 .cols-item-line:first-child{
	border-radius:10px 0px 0px 0px;
}

.abs-item-cols.abs-item .cols-item-2 .cols-item-line:first-child{
	border-radius:0px 0px 0px 0px;
}

.abs-item-cols.abs-item .cols-item-2{
	border-left: #FDFDFD;
}
.abs-item-cols.abs-item .cols-item-2 .cols-item-line{
	border-left: none;
}

.abs-item-cols.abs-item .cols-item-2{
	border-radius:0px 0px 0px 0px;
}

.abs-item-cols.abs-item-2{
	border-radius:0px 10px 0px 0px;
	margin-left: -26%;
}

.abs-item-cols.abs-item{
	box-shadow: 0px 5px 5px 0px #DFDFDF;
	margin-left: 0px;
}

.abs-item-cols.abs-item-2 .cols-item-2{
	border-radius:0px 10px 10px 0px;
}
.abs-item-cols.abs-item-2 .cols-item-2 .cols-item-line:first-child{
	border-radius:0px 10px 0px 0px;
}

.bgddd{
	background: #DDD;	
}

.cols-item-2{
	background: #FFF;
	border-radius:10px;
	border: 1px solid #DDD;
}
.bdgray.cols-item-2{
	box-shadow: none;
}
.bdgray.cols-item-2 .cols-item-line{
	border-bottom: 1px solid #DFDFDF;
	height: 90px;
}

.abs-item-cols .cols-item-2 .cols-item-line{
	height: 76px;
}

.cols-item-2 .cols-item-line{
	width:100%;
	height: 100px;
	border-bottom: 1px solid orange;
}
.cols-item-2 .cols-item-line p{
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	line-height: 24px;
}
.cols-item-2 .cols-item-line:last-child{
	border-bottom: none;
	border-radius:0px 0px 10px 10px;
}
.cols-item-2 .cols-item-line:first-child{
	border-bottom: none;
	border-radius:10px 10px 0px 0px;
}

.cols-item{
	padding-top: 20px;
	padding-bottom:40px;
	border: 1px solid #DDD;
	width: 90%;
	margin-left: 5%;
	box-shadow: 0px 0px 5px 5px #DFDFDF;
	border-radius:10px;
	background: #FFF;
}
.cols-item .cols-item-title-1{
	font-size: 20px;
	color: #666;
	font-weight: bold;
}
.cols-item .cols-item-title-2{
	font-size: 20px;
	color: #666;
	font-weight: bold;
}
.cols-item .cols-item-title-3{
	font-size: 24px;
	color: #333;
	font-weight: bold;
}
.cols-item .cols-item-logo{
	width:100%;
	text-align:center;
	height: 100px;
}
.cols-item .cols-item-logo .icon_bg{
	width: 100px;
	height: 100px;
	margin: auto;
}

.teacher-item{
	width: 100%;
	height: 100%;
	border: 1px solid #DDD;
	overflow: hidden;
	background: #FFF;
	padding-bottom: 30px;
}
.teacher-item .img-box{
	width: 200px;
	height: 200px;
	margin: auto;
	border-radius:50% 50%;
	overflow: hidden;
	margin-top: 30px;
}
.teacher-item .img-box .imgbg{
	border-radius:50% 50%;
	width: 100%;
	height: 100%;
	cursor: pointer;
  	transition: all 0.6s;
  	background-size:100% 100% !important;
}

.teacher-item .img-box .imgbg:hover{
	transform: scale(1.4);
}

.teacher-item img{
	border-radius:50% 50%;
	width: 100%;
	height: 100%;
	cursor: pointer;
  	transition: all 0.6s;
  	background-size:100% 100% !important;
}
.teacher-item .img-content{
	color:#333;
	width: 100%;
}

.teacher-item .img-title{
	color:#333;
	width: 100%;
	display: flex;
	height: 50px;
}
.teacher-item .img-title p{
	color:#333;
	margin: auto;
}

.teacher-item .img-content p{
	padding:0px 20px;
	line-height: 24px;
	font-size: 15px; 
}
.teacher-item img:hover{
	transform: scale(1.4);
}

.img-item{
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.img-item img{
	cursor: pointer;
  	transition: all 0.6s;
  	background-size:100% 100% !important;
}
.img-item img:hover{
	transform: scale(1.4);
}

.down-btn{
	position: absolute;
	bottom: 6px;
	text-align: center;
	width: 100%;
}
.down-btn a i{
	font-size: 48px;
	color: #DFDFDF;
	transform: scale(1.2,1);
	-webkit-transform: scale(1.2,1);
}
.index-tag{
	position: absolute;
	bottom: 100px;
}

.dialog-bg .layui-layer-title{
	background:var(--bg_color); 
	color:#fff; 
	border: none;
}
.dialog-bg .layui-layer-setwin{
	color: #FFF;
}
.dialog-bg .layui-layer-setwin a.layui-layer-close:before{
	content: "\1006";
}
.dialog-bg .layui-layer-setwin a.layui-layer-close{
	font-family: layui-icon!important;
	color: #FFFFFF !important;
	font-size: 14px;
	background: none;
}

.box-text{
	margin:auto;
	width: 80%;
	text-align: left;
	color: #666;
}
.box-text .first-title{
	font-weight: bold;
	font-size: 44px;
}
.box-text .second-title{
	font-weight: bold;
	font-size: 22px;
	line-height: 36px;
}

.text-title .first-title{
	font-weight: bold;
	font-size: 20px;
}
.text-title .second-title{
	font-size: 16px;
}

.course-items{
	width: 100%;
	display: flex;
}
.course-items ul{
	list-style-type: none;
	margin: auto;
}
.course-items ul li{
	float: left;
	border: 1px solid var(--font_color);
	border-radius:5px;
	width: 170px;
	height: 60px;
	margin-right: 20px;
	display: flex;
	color: #666;
	cursor: pointer;
}

.course-items ul li:hover{
	background: var(--bg_color);
	color: #FFF;
}

.course-items ul li.change-class{
	width: 75px;
	height: 35px;
}

.course-items ul li.active{
	background: var(--bg_color);
	color: #FFF;
}

.course-items .text-logo{
	width: 70px;
	height: 50px;
	display: inline-block;
	line-height: 50px;
	float: left;
	margin-left: 10px;
}
.course-items .text-word{
	font-size: 24px;
	display: inline-block;
	line-height: 50px;
	margin-left: 15px;
}

.course-items ul li.change-class .text-word{
	line-height: 35px;
	font-size: 18px;
	text-align: center;
	margin: auto;
	display: inherit;
}
.ovh{
	overflow: hidden;
}
.hide{
	display: none;
}

@media screen and (min-width: 768px){
	.layui-container {
	    /* width: 750px; */
	    width: auto;
	}
	.course-three-item {
		width: 100%;
		margin-top: 20px;
	}
	.course-three-item .mlfw25{
		margin-left: 0px !important;
	}
	.course-three-item .mlw25{
		margin-left: 0px !important;
	}
	.course-three-item .w120{
		width: 100% !important;
	}
	.course-items ul li{
		margin-right: 10px;
	}
}
@media screen and (min-width: 992px){
	.layui-container {
	    width: 970px;
	}
	.course-three-item {
		width: 33%;
		margin-top: 0px;
	}
	.course-three-item .mlfw25{
		margin-left: -25% !important;
	}
	.course-three-item .mlw25{
		margin-left: 25% !important;
	}
	.course-three-item .w120{
		width: 120% !important;
	}
	.course-items ul li{
		margin-right: 20px;
	}
}
@media screen and (min-width: 1200px){
	.layui-container {
	    width: 1200px;
	}
	.course-three-item {
		width: 33%;
		margin-top: 0px;
	}
	.course-three-item .mlfw25{
		margin-left: -25% !important;
	}
	.course-three-item .mlw25{
		margin-left: 25% !important;
	}
	.course-three-item .w120{
		width: 120% !important;
	}
	.course-items ul li{
		margin-right: 20px;
	}
}
